# Connecting to coffee_shop database using MySQL Connector/Python

In [1]:
# installing mysql-connector (MySQL-server versions prior to 4.1 will not work)
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.26-cp38-cp38-manylinux1_x86_64.whl (30.9 MB)
     |████████████████████████████████| 30.9 MB 95 kB/s  eta 0:00:01     |████████████▍                   | 12.0 MB 640 kB/s eta 0:00:30     |█████████████████████▊          | 21.0 MB 242 kB/s eta 0:00:41
Collecting protobuf>=3.0.0
  Downloading protobuf-3.17.3-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 330 kB/s eta 0:00:01
Requirement already satisfied: six>=1.9 in /home/h123456/anaconda3/lib/python3.8/site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.26 protobuf-3.17.3

In [2]:
import mysql.connector as sql

In [3]:
# version of mysql-connector
print(sql.__version__)

8.0.26

In [33]:
# establish connection to a database
conn = sql.connect(user='root', password='_Abc475459328abC_',
                              host='127.0.0.1',
                              database='coffee_shop')

In [34]:
# querying data examples
cursor = conn.cursor() # cursor object to navigate through a database
query1 = ("SHOW TABLES;")
cursor.execute(query1)

In [35]:
# iterating through the query result
for row in cursor:
  print(row)

('customer',)
('product',)
('product_info_view',)
('product_type',)
('sales_detail',)
('sales_outlet',)
('sales_transaction',)
('staff',)
('staff_locations_view',)

In [36]:
query2 = "DESCRIBE customer;"
cursor.execute(query2)
for row in cursor:
  print(row)

('customer_id', 'int(11)', 'NO', 'PRI', None, '')
('customer_name', 'varchar(50)', 'YES', '', None, '')
('email', 'varchar(50)', 'YES', '', None, '')
('reg_date', 'date', 'YES', '', None, '')
('card_number', 'varchar(15)', 'YES', '', None, '')
('date_of_birth', 'date', 'YES', '', None, '')
('gender', 'char(1)', 'YES', '', None, '')

In [38]:
query3 = "SELECT customer_name, email, date_of_birth FROM customer LIMIT 1,5;"
cursor.execute(query3)
for row in cursor:
    print(row)

('Kelly Key', 'Venus@adipiscing.edu', datetime.date(1950, 5, 29))
('Clark Schroeder', 'Nora@fames.gov', datetime.date(1950, 7, 30))
('Elvis Cardenas', 'Brianna@tellus.edu', datetime.date(1950, 9, 30))
('Rafael Estes', 'Ina@non.gov', datetime.date(1950, 12, 1))
('Colin Lynn', 'Dale@Integer.com', datetime.date(1951, 2, 1))

In [39]:
# releasing resources
cursor.close()
conn.close()